*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(188, 221, 250);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
     'bluec bluec greyc whitec'
     'white2 blackc blackc whitec';
    gap:25px;
    width: 80vw;
    height: 80vh;
}

.blue{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: blueviolet;
    border-radius: 10px;
    grid-area: bluec;
}

.grey{
    padding: 30px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    grid-area: greyc;
}

.white{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    grid-area:whitec;
}

.white2{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    grid-area: white2;
}

.black{
    padding: 30px;
    background-color: black;
    border-radius: 10px;
    grid-area: blackc;
}

.blue > div, .grey > div, .black > div{
    color: white;
}

.white > div , .white2 > div{
    color: black;
}

.blue>div>h4, .grey>div>h4 ,.white>div>h4, .white2>div>h4, .black>div>h4{
    color: grey;
}

.blue > h1, .grey > h1, .black > h1{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.white > h1, .white2 > h1{
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blue>p , .grey>p, .white > p, .white2 > p, .black > p{
    color: grey;
}